* {
    box-sizing: border-box;
    outline: 2px solid red;
}

body {
    display: flex;
    margin: 0px;
    
    
    
}

#container {
      height: 800px;
      width: 800px;
      margin-left: 700px;
      margin-top: 10px;
}

#square {
    background-color: blue;
}

